html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}

.allpending {
    height: 80%;
}

.btns {
    height: 13%;
    background: #efefef;
}

.btns img {
    width: 48px;
    margin: 8px; 
}

.btns .btn {
    padding-top: 5px;
    border-top: 1px solid #ccc;
    width: 50%;
    float: left;
    text-align: center;
}

.btns .btnselected {
    padding-top: 5px;
    border-top: 3px solid red;
    width: 50%;
    float: left;    
    text-align: center;
    font-weight: bold;
}

.title {
    background: #333;
    color: white;
    padding: 15px;
    text-align: center;
    height: 7%;
}

.pending {
    padding: 15px;
    background: #efefef;
    border-bottom: 2px solid #ccc;
}

.pending .user {
    border-radius: 50%;
    width: 64px;
    float: left;
}

.pending .info {
    margin-top: 8px;
    float: left;
}

.pending .username {
    margin-left: 15px;
    font-weight: bold;
}

.pending .ref {
    margin-left: 15px;
}

.pending .done {
    float: right;
    height: 64px;
    width: 64px;
    border-radius: 50%;
    background: #35D426;
    text-align: center;
    line-height: 64px;
    color: white;
    font-weight: bold;
}

.analytics {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
}

.analytics .antitle {
    padding: 5px;
    border-bottom: 2px solid red;
    margin-bottom: 10px;
    font-weight: bold;
}

.analytics img {
    width: 96px;
    float: left;
}

.analytics .views, .analytics .purchases {
    font-size: 48px;
    float: left;
    text-align: center;
    width: 37%;
}

.analytics .subtitle {
    font-size: 16px;
    text-align: center;
}